@import "../../styles/colors.scss";

.new-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: var(--color-folder);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
