@import "../../styles/colors.scss";

.folder {
  display: inline-block;
  margin-bottom: 16px;
  &__tag {
    background-color: var(--color-folder);
    width: 52px;
    height: 18px;
    border-radius: 5px 5px 0 0;
    transform: translateY(1px);
  }
  &__content {
    width: 192px;
    height: 129px;
    background-color: var(--color-folder);
    border-radius: 0 5px 5px 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    & p {
      margin: 0 0 10px 0;
      color: var(--color-background);
      font-size: 14px;
    }
  }
}
