@import "../../styles/colors.scss";
@import "../../styles/font.scss";

.rule {
  &__input-area {
    & h3 {
      color: var(--color-text);
      font-size: 36px;
      margin-bottom: 12px;
    }
    & p {
      font-size: 18px;
      margin-bottom: 24px;
    }

    & textarea {
      height: 160px;
    }

    & input {
      border: none;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      padding: 12px;
      font-size: 16px;
      font-family: $main;
      color: var(--color-background);
      background-color: var(--color-folder);
    }
  }
}

.variables {
  &__area {
    background-color: var(--color-folder);
    padding: 18px 10px;
    border-radius: 5px;
  }

  &__selector {
    display: inline-block;
    border: none;
    cursor: pointer;
    font-family: $main;
    font-size: 16px;
    color: var(--color-background);
    background-color: var(--color-logo);
    padding: 1px 8px;
    border-radius: 2px;
    margin-right: 12px;
    margin-bottom: 6px;
    margin-top: 6px;
  }
}
