@import "../../styles/colors.scss";
@import "../../styles/font.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  &__button {
    font-family: $main;
    font-size: 18px;
    font-weight: 900;
    background-color: transparent;
    color: var(--color-text);
    border: none;
    height: 32px;
    border-radius: 16px;
    padding: 6px 24px;
    margin-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
  }
}

.selected {
  background-color: var(--color-2-background);
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .navigation {
    margin-top: 24px;
    flex-wrap: nowrap;
    justify-content: space-between;

    &__button {
      margin: 0;
    }
  }
}
