@import "../../styles/colors.scss";
@import "../../styles/font.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  &__button {
    font-family: $main;
    font-size: 18px;
    font-weight: 900;
    background-color: transparent;
    color: $textColor;
    border: none;
    height: 32px;
    border-radius: 16px;
    padding: 6px 24px;
    margin-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
  }
}

.selected {
  background-color: $secondaryBackground;
}
