@import "../../styles/colors.scss";

.progress-card {
  width: 192px;
  height: 224px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-folder);

  display: flex;
  flex-direction: column;

  &__description {
    flex: 1;
    text-align: justify;
    overflow: hidden;
  }
}

.time-section {
  display: flex;
  justify-content: space-between;

  & p {
    margin-bottom: 16px;
  }
}

p {
  color: var(--color-background);
  margin: 0;
}
