$background--dark: #1c2420;
$folderColor--dark: #cafde3;
$logoColor--dark: #89b255;
$secondaryBackground--dark: #3d5046;
$textColor--dark: #daf5e7;
$secondaryText--dark: #8aa395;
$delete--dark: #b54a68;
