@import "./font.scss";

h6,
h5,
h4,
h3,
h2,
h1,
p {
  font-family: $main;
}

p {
  font-size: 14px;
}

.bigger {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.bold {
  font-weight: bold;
}
