@import "./font.scss";
@import "./colors.scss";

h6,
h5,
h4,
h3,
h2,
h1,
p {
  font-family: $main;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 48px;
  color: var(--color-text);
  margin: 0;
}

.bigger {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.translate {
  transition: all 0.2s;
  &:hover {
    transform: translateY(-10px);
  }
}

.bold {
  font-weight: bold;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.icon {
  fill: var(--color-background);
}

.back-icon {
  fill: var(--color-text);
}

.theme-icon {
  fill: var(--color-folder);
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  right: 11px;
  cursor: pointer;
}

.base {
  background-color: var(--color-background);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  margin: auto;
  width: 80vw;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 36px;
  margin-top: 36px;

  &__actions {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    max-width: 256px;
    margin-bottom: 12px;
  }

  & h1 {
    margin-bottom: 12px;
  }
}

@media (max-width: 800px) {
  .intro {
    flex-direction: column;

    &__actions {
      margin-top: 24px;
      width: 100%;

      & button {
        width: 100%;
      }
    }

    & a {
      & .back {
        & h1 {
          font-size: 30px;
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-folder);
  border-radius: 5px;
}

.explanation {
  font-size: 16px;
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .explanation {
    text-align: center;
  }
}

.back {
  cursor: pointer;
  display: flex;
  align-items: center;

  & h1 {
    margin: 0;
    margin-left: 12px;
  }
}

.save-btn {
  height: 32px;
  background-color: var(--color-logo);
  border: none;
  border-radius: 16px;
  padding: 0 12px;
  margin-left: 12px;
  font-size: 18px;
  color: var(--color-background);
  cursor: pointer;
}

.new-btn {
  height: 32px;
  background-color: var(--color-2-background);
  border: none;
  border-radius: 16px;
  padding: 0 12px;
  margin-left: 12px;
  font-size: 18px;
  color: var(--color-text);
  cursor: pointer;
}

.delete-btn {
  height: 32px;
  border: none;
  border-radius: 16px;
  padding: 0 36px;
  font-size: 18px;
  color: var(--color-background);
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-color: var(--color-folder);
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  font-family: $main;
  color: var(--color-background);
}

.show-text {
  background-color: var(--color-folder);
  padding: 10px;
  border-radius: 5px;
}
