$background--light: #efefef;
$folderColor--light: #759849;
$logoColor--light: #89b255;
$secondaryBackground--light: #dbdbdb;
$textColor--light: #759849;
$secondaryText--light: #5d7266;
$delete--light: #b54a68;
